.logo_container {
    display: flex;
    align-items: center;
    margin-right: auto;

    > svg {
        width: 35px;
        height: 35px;
    }

    > p {
        font-weight: 700;
        font-size: calc(18px + 8 * (100vw / 1520));
    }

    .gradient {
        background: linear-gradient(180deg, #000 0%, #002482 51.79%, #002992 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .light {
        color: #fff;
    }

}