.header_btn, .contact_btn, .not_found, .log_in {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 700;
    font-size: calc(16px + 5 * (100vw / 1270));
    text-align: center;
    letter-spacing: 1.5px;
}

.header_btn, .table_btn {
    background: rgba(214, 216, 225, 0.2);
    border: 1px solid #002992;
    color: #002992;

    &:hover {
        background: #002992;
        color: #fff;
    }
}

.contact_btn {
    color: #FFE248;
    background: transparent;
    border: 1px solid #FFE248;

    &:hover {
        color: rgba(255, 226, 72, 0.75);
        border: 1px solid rgba(255, 226, 72, 0.75);
    }
    &:active {
        color: #002992;
        border: 1px solid #002992;
    }
}

.not_found {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.75);
    }
}

.log_in {
    background: #002992;
    color: #fff;
    border-radius: 6px;

    &:hover {
        background: rgba(0, 41, 146, 0.75);
        color: rgba(255, 255, 255, 0.75);
    }
}

.table_btn {
    width: 100%;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.3px;
}

.large {
    width: 100%;
}

.medium {
    padding-inline: 60px;
}

.small {
    padding: 7px 17px;
    font-size: calc(14px + 4 * (100vw / 1270));
}

.left {
    margin-right: auto;
    margin-left: 10px;
}
.right {
    margin-left: auto;
}
.center {
    margin: 0 auto;
}