@keyframes pulse {
    0% {
        background-color: #10396e;
    }
    50% {
        background-color: #30577c;
    }
    100% {
        background-color: #10396e;
    }
}

.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: #e0e0e0;
    margin: 8px 0;
}