.header {
    width: 100%;
    padding-block: 10px;
    padding-inline: 122px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_info {
        display: flex;
        align-items: center;
        gap: 43px;
    }
}