.nav_item {
    font-weight: 400;
    font-size: calc(12px + 8 * (100vw / 1440));
    color: #fff;
    white-space: nowrap;

    .active {
        position: relative;
        color: azure;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: azure;
            bottom: 0;
            left: 0;
        }

        @media screen and (max-width: 655px) {
            &:before {
                display: none;
            }
            color: #faa903;
        }
    }

    .active_footer {
        color: #faa903;
    }

    > a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}